.templateSelectModal {
    width: 450px;
    padding: 40px 60px;
    box-sizing: border-box;


    .templateSelectModalTitle {
        font-size: 18px;
    }

    .templateSelectModalDropdown {
        margin: 10px 0 10px 0;
    }
}