@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.latestProjects {
    .title {
        @include ms-font-xl;
        color: #0078d4;
    }
    .linksContainer {
      padding: 5px;
      margin-top: 3px;
        .linkItem {
            .projectLink {
                @include ms-font-m;
                text-decoration: none;
                color: #0078d4;
                &:hover {
                    text-decoration: underline;
                    color: #0078d4;
                }
                &:visited {
                    color: #0078d4;
                }
                &:active {
                    color: #0078d4;
                }
            }
            .subTitle {
                @include ms-font-xs;
                margin: 0;
                opacity: 0.8;
            }
        }
    }
}
