@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.projectPhaseCallout {
  padding: 20px;

  .header {
    .title {
      font-weight: bold;
      font-size: 16px;
    }
  }
  
  .inner {
    .content {
      .subText {
        max-width: 250px;
        font-size: 14px;
      }
      .checkPointStatus {
        margin: 0 0 15px 0;
      }
      .addText {
        max-width: 250px;
        font-size: 11px;
      }
    }
  }
}

